<% if (page.total > 1){ %>
    <nav class="bar bar-footer pagination-minimal clearfix" data-stick-bottom>
        <div class="bar-inner pagination-minimal-inner">
            <% if (!page.prev && theme.pagination.prev.alwayShow) { %>
            <span class="pagination-btn pagination-btn-prev is-disabled" aria-disabled="true">
                    <i class="icon icon-angle-left"></i>
                    <%= __('pagination.prev') %>
            </span>
            <% } else { %>
            <a class="pagination-btn pagination-btn-prev" href="<%- url_for(page.prev_link) %>">
                    <i class="icon icon-angle-left"></i>
                    <%= __('pagination.prev') %>
            </a>
            <% } %>
            <span class="pagination-state"><%= page.current %> / <%= page.total %></span>
            <% if (!page.next && theme.pagination.next.alwayShow) { %>
            <span class="pagination-btn pagination-btn-next is-disabled" aria-disabled="true">
                    <%= __('pagination.next') %>
                    <i class="icon icon-angle-right"></i>
            </span>
            <% } else { %>
            <a class="pagination-btn pagination-btn-next" href="<%- url_for(page.next_link) %>">
                    <%= __('pagination.next') %>
                    <i class="icon icon-angle-right"></i>
            </a>
            <% } %>
        </div>
    </nav>
<% } %>
